html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  min-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 8px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-link,
.phone {
  color: #000;
}

.phone {
  text-decoration: none;
}
